.App {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
  background: #1a1a1a;
  color: #fff;
}

.App h1 {
  font-size: clamp(2rem, 2.4rem, 4vw);
}

input, button {
  border-style: none;
}