@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  background: #1a1a1a;
  color: #fff;
}

#root {
  width: 100%;
}

.App {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
  gap: 5rem;
}

body h1 {
  font-size: clamp(2rem, 2.4rem, 4vw);
  font-weight: 700;
}

body, input, button, textarea {
  font-family: 'Roboto', sans-serif;
  border-style: none;
}

input, textarea {
  padding: .8rem 1rem;
  border-radius: .5rem;
  font-size: clamp(1.4rem, 1.6rem, 2vw);
}

textarea {
  padding: .8rem 1rem 8rem 1rem;
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

a {
  color: #000;
}