.CV-form, .CV-form > section, .CV-form form {
  display: flex;
  flex-direction: column;
}

.CV-form {
  align-items: center;
  gap: 4rem;

  width: min(60rem, 90%);
  padding: 1.5rem;
  background: var(--clr-light-grey);
  border-radius: .5rem;
  box-shadow: 1px 1px 5px #424242;
}

.CV-form > section {
  gap: 2rem;
  width: 100%;
  background-color: var(--clr-medium-grey);
  padding: 2rem 2rem;
  border-radius: .5rem;
  box-shadow: 1px 1px 5px #000;
}

.CV-form form {
  gap: 1rem;
}