.CV-form, .CV-form > section, .CV-form form {
  display: flex;
  flex-direction: column;
}

.CV-form {
  align-items: center;
  gap: 4rem;

  width: min(60rem, 90%);
  padding: 1.5rem;
  background: #646464;
  border-radius: .5rem;
}

.CV-form > section {
  gap: 2rem;
  width: 100%;
  background-color: #2b2b2b;
  padding: 2rem 2rem;
  border-radius: .5rem;
}

.CV-form form {
  gap: 1rem;
}